---
---
<nav class="fixed top-0 left-0 w-full z-50 flex justify-between items-center px-6 py-4 bg-[#0c0e13]/70 backdrop-blur-xl border-b border-white/10">
    <div class="text-3xl font-bold tracking-widest text-[#f3f3fb] uppercase font-[Bebas_Neue]">
        PROSPECTAAÍ
    </div>
    <div class="hidden md:flex gap-8 items-center cursor-none">
        <a class="text-[#a4ffb9] border-b-2 border-[#a4ffb9] pb-1 dm-mono text-sm tracking-tighter" href="#" data-transition>SOLUTIONS</a>
        <a class="text-[#475265] uppercase tracking-tighter dm-mono text-sm hover:text-[#a4ffb9] transition-colors duration-300" href="#" data-transition>PRICING</a>
        <a class="text-[#475265] uppercase tracking-tighter dm-mono text-sm hover:text-[#a4ffb9] transition-colors duration-300" href="#" data-transition>RESOURCES</a>
    </div>
    <a href="#" data-transition class="bg-primary text-[#0c0e13] px-4 py-2 md:px-6 md:py-2 bebas text-lg md:text-xl hover:bg-white hover:text-black transition-all duration-300 rounded-none inline-block text-center cursor-none">
        GET ACCESS
    </a>
</nav>
