---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
	</head>
	<body class="bg-background selection:bg-primary selection:text-background overflow-x-hidden">
		<div class="grain-overlay"></div>
		
		<slot />

		<script>
			import { initLenis } from '../utils/lenis';
			import { initTransitions } from '../utils/transition';

			document.addEventListener("DOMContentLoaded", () => {
				initLenis();
				initTransitions();
			});
		</script>
	</body>
</html>
